<div class="main-body">
    <div class="body">
        <section style="padding: 20px 0px 20px 0px;">
            <p class="text" style="font-size: 24px;"> Userlist grid  | <span style="font-size:16px">
                <i class="bi bi-house-door"></i> - Contact - Userlist grid
            </span> <span style="float: right;">
                <button mat-button [matMenuTriggerFor]="menu" class="menu-button"><i class="bi bi-three-dots"></i></button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item class="dropdown-button text" style="font-size: 18px;"><i class="bi bi-reply"></i>Activity</button>
                        <button mat-menu-item  class="dropdown-button text" style="font-size: 18px;"><i class="bi bi-chat-left-text"></i>Messages</button>
                        <button mat-menu-item  class="dropdown-button text" style="font-size: 18px;"><i class="bi bi-patch-question"></i>FAQ</button>
                        <button mat-menu-item  class="dropdown-button text" style="font-size: 18px;"> <i class="bi bi-gear"></i>Support</button>
                        <mat-divider style="margin: 10px 0px 10px 0px;"></mat-divider>
                        <button mat-button  class="text" style="background-color: #17b3a3;color: white;margin-left: 10px;">Submit</button>
                    </mat-menu>
            </span></p>
        </section>
        <div class="grid">
            <mat-grid-list [cols]="cols" rowHeight="400px" [gutterSize]="'30px'">
                <mat-grid-tile>
                    <mat-card class="card">
                        <img mat-card-image src="assets/images/cardimg.jpg" alt="">
                        <mat-card-content>
                            <section class="content">
                                <section class="social">
                                    <i class="bi bi-facebook"></i>
                                    <i class="bi bi-instagram"></i>
                                    <i class="bi bi-twitter"></i>
                                    <i class="bi bi-envelope-fill"></i>
                                </section>
                                <section class="details">
                                <p class="text" style="font-size: 24px;">Tristan</p>
                                <p class="text"> Designer </p>
                                <p class="text"> 125 Ipsum Lorem Ave, Suite 458 New York, USA </p>
                                <p class="text">154875</p>
                                </section>
                            </section>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-card class="card">
                        <img mat-card-image src="assets/images/cardimg2.jpg" alt="">
                        <mat-card-content>
                            <section class="content">
                                <section class="social">
                                    <i class="bi bi-facebook"></i>
                                    <i class="bi bi-instagram"></i>
                                    <i class="bi bi-twitter"></i>
                                    <i class="bi bi-envelope-fill"></i>
                                </section>
                                <section class="details">
                                <p class="text" style="font-size: 24px;">Tristan</p>
                                <p class="text"> Designer </p>
                                <p class="text"> 125 Ipsum Lorem Ave, Suite 458 New York, USA </p>
                                <p class="text">154875</p>
                                </section>
                            </section>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-card class="card">
                        <img mat-card-image src="assets/images/cardimg3.jpg" alt="">
                        <mat-card-content>
                            <section class="content">
                                <section class="social">
                                    <i class="bi bi-facebook"></i>
                                    <i class="bi bi-instagram"></i>
                                    <i class="bi bi-twitter"></i>
                                    <i class="bi bi-envelope-fill"></i>
                                </section>
                                <section class="details">
                                <p class="text" style="font-size: 24px;">Tristan</p>
                                <p class="text"> Designer </p>
                                <p class="text"> 125 Ipsum Lorem Ave, Suite 458 New York, USA </p>
                                <p class="text">154875</p>
                                </section>
                            </section>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-card class="card">
                        <img mat-card-image src="assets/images/cardimg4.jpg" alt="">
                        <mat-card-content>
                            <section class="content">
                                <section class="social">
                                    <i class="bi bi-facebook"></i>
                                    <i class="bi bi-instagram"></i>
                                    <i class="bi bi-twitter"></i>
                                    <i class="bi bi-envelope-fill"></i>
                                </section>
                                <section class="details">
                                <p class="text" style="font-size: 24px;">Tristan</p>
                                <p class="text"> Designer </p>
                                <p class="text"> 125 Ipsum Lorem Ave, Suite 458 New York, USA </p>
                                <p class="text">154875</p>
                                </section>
                            </section>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card class="card">
                        <img mat-card-image src="assets/images/cardimg5.jpg" alt="">
                        <mat-card-content>
                            <section class="content">
                                <section class="social">
                                    <i class="bi bi-facebook"></i>
                                    <i class="bi bi-instagram"></i>
                                    <i class="bi bi-twitter"></i>
                                    <i class="bi bi-envelope-fill"></i>
                                </section>
                                <section class="details">
                                <p class="text" style="font-size: 24px;">Tristan</p>
                                <p class="text"> Designer </p>
                                <p class="text"> 125 Ipsum Lorem Ave, Suite 458 New York, USA </p>
                                <p class="text">154875</p>
                                </section>
                            </section>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card class="card">
                        <img mat-card-image src="assets/images/cardimg6.jpg" alt="">
                        <mat-card-content>
                            <section class="content">
                                <section class="social">
                                    <i class="bi bi-facebook"></i>
                                    <i class="bi bi-instagram"></i>
                                    <i class="bi bi-twitter"></i>
                                    <i class="bi bi-envelope-fill"></i>
                                </section>
                                <section class="details">
                                <p class="text" style="font-size: 24px;">Tristan</p>
                                <p class="text"> Designer </p>
                                <p class="text"> 125 Ipsum Lorem Ave, Suite 458 New York, USA </p>
                                <p class="text">154875</p>
                                </section>
                            </section>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card class="card">
                        <img mat-card-image src="assets/images/cardimg7.jpg" alt="">
                        <mat-card-content>
                            <section class="content">
                                <section class="social">
                                    <i class="bi bi-facebook"></i>
                                    <i class="bi bi-instagram"></i>
                                    <i class="bi bi-twitter"></i>
                                    <i class="bi bi-envelope-fill"></i>
                                </section>
                                <section class="details">
                                <p class="text" style="font-size: 24px;">Tristan</p>
                                <p class="text"> Designer </p>
                                <p class="text"> 125 Ipsum Lorem Ave, Suite 458 New York, USA </p>
                                <p class="text">154875</p>
                                </section>
                            </section>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card class="card">
                        <img mat-card-image src="assets/images/cardimg8.jpg" alt="">
                        <mat-card-content>
                            <section class="content">
                                <section class="social">
                                    <i class="bi bi-facebook"></i>
                                    <i class="bi bi-instagram"></i>
                                    <i class="bi bi-twitter"></i>
                                    <i class="bi bi-envelope-fill"></i>
                                </section>
                                <section class="details">
                                <p class="text" style="font-size: 24px;">Tristan</p>
                                <p class="text"> Designer </p>
                                <p class="text"> 125 Ipsum Lorem Ave, Suite 458 New York, USA </p>
                                <p class="text">154875</p>
                                </section>
                            </section>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card class="card">
                        <img mat-card-image src="assets/images/cardimg2.jpg" alt="">
                        <mat-card-content>
                            <section class="content">
                                <section class="social">
                                    <i class="bi bi-facebook"></i>
                                    <i class="bi bi-instagram"></i>
                                    <i class="bi bi-twitter"></i>
                                    <i class="bi bi-envelope-fill"></i>
                                </section>
                                <section class="details">
                                <p class="text" style="font-size: 24px;">Tristan</p>
                                <p class="text"> Designer </p>
                                <p class="text"> 125 Ipsum Lorem Ave, Suite 458 New York, USA </p>
                                <p class="text">154875</p>
                                </section>
                            </section>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>

            </mat-grid-list>
            
            <div class="paginator">
                <ul class="pagination pagination-lg">
                    <li class="page-item"><a class="page-link"><i class="bi bi-arrow-left"></i></a></li>
                    <li class="page-item"><a class="page-link" >1</a></li>
                    <li class="page-item"><a class="page-link" >2</a></li>
                    <li class="page-item"><a class="page-link">3</a></li>
                    <li class="page-item"><a class="page-link">4</a></li>
                    <li class="page-item"><a class="page-link">5</a></li>
                    <li class="page-item"><a class="page-link"><i class="bi bi-arrow-right"></i></a></li>
                  </ul>
            </div>
        </div>
    </div>
</div>
