<div class="main-body">
    <mat-drawer-container>
        <mat-drawer mode="side" opened="true">
          <button mat-button class="text" style="width: 100%; background-color: #17b3a3; color: white;">Compose</button>

          <p class="text" style="font-size: 18px; margin-top: 50px;">Folders</p>
          <mat-divider></mat-divider>
          <section style="margin-top: 30px;">
                <p class="text side-buttons" style="background-color: #3e8ef7;color: white;"><i class="bi bi-envelope"></i>Inbox<span style="float: right; background-color:#17b3a3; border-radius: 5px;width: 15px;">12</span></p>
                <p class="text side-buttons"><i class="bi bi-send"></i>Sent</p>
                <p class="text side-buttons"><i class="bi bi-envelope-exclamation-fill"></i>Drafts</p>
                <p class="text side-buttons"><i class="bi bi-star-fill"></i>Starred</p>
                <p class="text side-buttons"><i class="bi bi-trash"></i>Trash</p>
          </section>
          <p class="text" style="font-size: 18px; margin-top: 30px;">Labels</p>
          <mat-divider></mat-divider>
          <section style="margin-top: 30px;">
            <p class="text side-buttons"><i class="bi bi-circle"></i>Important</p>
            <p class="text side-buttons"><i class="bi bi-circle"></i>Promotions</p>
            <p class="text side-buttons"><i class="bi bi-circle"></i>social</p>
          </section>
        </mat-drawer>
        <mat-drawer-content>
            <mat-card class="body-card">
                <p class="text" style="font-size: 18px; margin-top: 30px;">Mailbox<span style="float: right;"><input placeholder="Search"></span></p>
                    
                <p class="text">Here is the list of mails</p>
                <mat-divider style="margin-top: 10px;"></mat-divider>

                <section style="display: block;margin-top: 40px; ">
                    <section style="display: flex; float: left; flex-wrap: wrap;">
                        <button class="crazy-buttons"><mat-checkbox> </mat-checkbox></button>
                        <button class="crazy-buttons"><i class="bi bi-trash"></i></button>
                        <button class="crazy-buttons"><i class="bi bi-arrow-90deg-left"></i></button>
                        <button class="crazy-buttons"><i class="bi bi-arrow-90deg-right"></i></button>
    
                        <button class="crazy-buttons" style="width: 60px; margin-left: 5px;"><i class="bi bi-flag"></i></button>
                        <button class="crazy-buttons" style="width: 60px;"><i class="bi bi-folder"></i></button>
    
                        <button class="crazy-buttons" style="margin-left: 5px;"><i class="bi bi-arrow-clockwise"></i></button>
                    </section>
                    <section style="float: right; display: flex;flex-wrap: wrap;">
                        <p class="text" style="padding: 10px;">1-50/200</p>
                        <button class="crazy-buttons"><i class="bi bi-chevron-left"></i></button>
                        <button class="crazy-buttons"><i class="bi bi-chevron-right"></i></button>
                    </section>
                </section>
                <section>
                    <table class="table table-striped">
                        <tbody>
                          <tr>
                            <td><mat-checkbox></mat-checkbox></td>
                            <td><i class="bi bi-star"></i></td>
                            <td><img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;"></td>
                            <td class="text">jacob</td>
                            <td class="text">Lorem Ipsum - There are many variations of Ipsum available...</td>
                            <td> </td>
                            <td class="text">3 mins ago</td>
                          </tr>
                          <tr>
                            <td><mat-checkbox></mat-checkbox></td>
                            <td><i class="bi bi-star"></i></td>
                            <td><img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;"></td>
                            <td class="text">jacob</td>
                            <td class="text">Lorem Ipsum - There are many variations of Ipsum available...</td>
                            <td> <i class="bi bi-paperclip"></i></td>
                            <td class="text">3 mins ago</td>
                          </tr>
                          <tr>
                            <td><mat-checkbox></mat-checkbox></td>
                            <td><i class="bi bi-star"></i></td>
                            <td><img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;"></td>
                            <td class="text">jacob</td>
                            <td class="text">Lorem Ipsum - There are many variations of Ipsum available...</td>
                            <td><i class="bi bi-paperclip"></i> </td>
                            <td class="text">3 mins ago</td>
                          </tr>
                          <tr>
                            <td><mat-checkbox></mat-checkbox></td>
                            <td><i class="bi bi-star"></i></td>
                            <td><img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;"></td>
                            <td class="text">jacob</td>
                            <td class="text">Lorem Ipsum - There are many variations of Ipsum available...</td>
                            <td> </td>
                            <td class="text">3 mins ago</td>
                          </tr>
                          <tr>
                            <td><mat-checkbox></mat-checkbox></td>
                            <td><i class="bi bi-star"></i></td>
                            <td><img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;"></td>
                            <td class="text">jacob</td>
                            <td class="text">Lorem Ipsum - There are many variations of Ipsum available...</td>
                            <td> </td>
                            <td class="text">3 mins ago</td>
                          </tr>
                          <tr>
                            <td><mat-checkbox></mat-checkbox></td>
                            <td><i class="bi bi-star"></i></td>
                            <td><img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;"></td>
                            <td class="text">jacob</td>
                            <td class="text">Lorem Ipsum - There are many variations of Ipsum available...</td>
                            <td> <i class="bi bi-paperclip"></i></td>
                            <td class="text">3 mins ago</td>
                          </tr>
                          <tr>
                            <td><mat-checkbox></mat-checkbox></td>
                            <td><i class="bi bi-star"></i></td>
                            <td><img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;"></td>
                            <td class="text">jacob</td>
                            <td class="text">Lorem Ipsum - There are many variations of Ipsum available...</td>
                            <td><i class="bi bi-paperclip"></i> </td>
                            <td class="text">3 mins ago</td>
                          </tr>
                          <tr>
                            <td><mat-checkbox></mat-checkbox></td>
                            <td><i class="bi bi-star"></i></td>
                            <td><img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;"></td>
                            <td class="text">jacob</td>
                            <td class="text">Lorem Ipsum - There are many variations of Ipsum available...</td>
                            <td> </td>
                            <td class="text">3 mins ago</td>
                          </tr>
                          <tr>
                            <td><mat-checkbox></mat-checkbox></td>
                            <td><i class="bi bi-star"></i></td>
                            <td><img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;"></td>
                            <td class="text">jacob</td>
                            <td class="text">Lorem Ipsum - There are many variations of Ipsum available...</td>
                            <td><i class="bi bi-paperclip"></i> </td>
                            <td class="text">3 mins ago</td>
                          </tr>
                          <tr>
                            <td><mat-checkbox></mat-checkbox></td>
                            <td><i class="bi bi-star"></i></td>
                            <td><img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;"></td>
                            <td class="text">jacob</td>
                            <td class="text">Lorem Ipsum - There are many variations of Ipsum available...</td>
                            <td> </td>
                            <td class="text">3 mins ago</td>
                          </tr>
                          <tr>
                            <td><mat-checkbox></mat-checkbox></td>
                            <td><i class="bi bi-star"></i></td>
                            <td><img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;"></td>
                            <td class="text">jacob</td>
                            <td class="text">Lorem Ipsum - There are many variations of Ipsum available...</td>
                            <td><i class="bi bi-paperclip"></i> </td>
                            <td class="text">3 mins ago</td>
                          </tr>
                          <tr>
                            <td><mat-checkbox></mat-checkbox></td>
                            <td><i class="bi bi-star"></i></td>
                            <td><img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;"></td>
                            <td class="text">jacob</td>
                            <td class="text">Lorem Ipsum - There are many variations of Ipsum available...</td>
                            <td> </td>
                            <td class="text">3 mins ago</td>
                          </tr>
                          <tr>
                            <td><mat-checkbox></mat-checkbox></td>
                            <td><i class="bi bi-star"></i></td>
                            <td><img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;"></td>
                            <td class="text">jacob</td>
                            <td class="text">Lorem Ipsum - There are many variations of Ipsum available...</td>
                            <td> <i class="bi bi-paperclip"></i></td>
                            <td class="text">3 mins ago</td>
                          </tr>
                          <tr>
                            <td><mat-checkbox></mat-checkbox></td>
                            <td><i class="bi bi-star"></i></td>
                            <td><img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;"></td>
                            <td class="text">jacob</td>
                            <td class="text">Lorem Ipsum - There are many variations of Ipsum available...</td>
                            <td> <i class="bi bi-paperclip"></i></td>
                            <td class="text">3 mins ago</td>
                          </tr>
                          <tr>
                            <td><mat-checkbox></mat-checkbox></td>
                            <td><i class="bi bi-star"></i></td>
                            <td><img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;"></td>
                            <td class="text">jacob</td>
                            <td class="text">Lorem Ipsum - There are many variations of Ipsum available...</td>
                            <td> </td>
                            <td class="text">3 mins ago</td>
                          </tr>
                          <tr>
                            <td><mat-checkbox></mat-checkbox></td>
                            <td><i class="bi bi-star"></i></td>
                            <td><img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;"></td>
                            <td class="text">jacob</td>
                            <td class="text">Lorem Ipsum - There are many variations of Ipsum available...</td>
                            <td> <i class="bi bi-paperclip"></i></td>
                            <td class="text">3 mins ago</td>
                          </tr>
                          

                          
                        </tbody>
                      </table>
                </section>
                
            </mat-card>
        </mat-drawer-content>
      </mat-drawer-container>
</div>
