<div class="main-body">
    <mat-drawer-container>
        <mat-drawer mode="side" opened="true">
            <p class="text" style="font-size: 16px; "> All Contacts <span style="float: right;">123</span></p>
            <mat-divider style="margin-top: 30px;"></mat-divider>

            <section style="margin-top: 20px;">
            <p class="text side-buttons" style="font-size: 16px; color: #ff4c52;"> Work <span style="float: right;">103</span></p>
            <p class="text side-buttons" style="font-size: 16px; color: #faa700"> Family <span style="float: right;">19</span></p>
            <p class="text side-buttons" style="font-size: 16px; color: #3e8ef7"> Friends <span style="float: right;">623</span></p>
            <p class="text side-buttons" style="font-size: 16px; color:  #17b3a3"> Private <span style="float: right;">53</span></p>
            </section>
            <button mat-raised-button class="text" style="background-color: #17b3a3; width: 95%; color:white;"> +Create New Label</button>
            <mat-divider style="margin-top: 20px;"></mat-divider>
        </mat-drawer>
        <mat-drawer-content>
            <div class="top-small">
                    <section  style="display: flex; float: left;">
                        <button class="crazy-buttons text" style="color: white;"> <mat-checkbox></mat-checkbox></button>
                        <button class="crazy-buttons text" style="color: white;margin-left: 10px;"> Move to </button> 
                        <button class="crazy-buttons text" style="color: white;"> Sort by </button>
                    </section>
                    <input style="float:right;">
            </div>
            <div class="body">
                <div class="body-card left">

                    <section class="content">
                        <section style="display: flex; float: left; align-items:center;overflow: hidden; width: 90%;">
                            <mat-checkbox></mat-checkbox>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <section style="margin-left: 40px; display:flex; align-items: center;" class="profile">
                                <img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;">
                                <p class="text" style="margin:0px 0px 0px 8px; line-height:1;"> Sophia <span style="font-size: 10px;"><br>sophia@gmail.com <span style="color: grey;">- (123)- 456789</span></span> </p> 
                            </section>
                        </section>
                        <section style="float: right; width: 5%; margin-top: 8px;">
                            <i class="bi bi-three-dots-vertical" style="margin: 0px;"></i>
                        </section>
                    </section>
                    <mat-divider></mat-divider>

                    <section class="content">
                        <section style="display: flex; float: left; align-items:center;overflow: hidden; width: 90%;">
                            <mat-checkbox></mat-checkbox>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <section style="margin-left: 40px; display:flex; align-items: center;" class="profile">
                                <img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;">
                                <p class="text" style="margin:0px 0px 0px 8px; line-height:1;"> Sophia <span style="font-size: 10px;"><br>sophia@gmail.com <span style="color: grey;">- (123)- 456789</span></span> </p> 
                            </section>
                        </section>
                        <section style="float: right; width: 5%; margin-top: 8px;">
                            <i class="bi bi-three-dots-vertical" style="margin: 0px;"></i>
                        </section>
                    </section>
                    <mat-divider></mat-divider>

                    <section class="content">
                        <section style="display: flex; float: left; align-items:center;overflow: hidden; width: 90%;">
                            <mat-checkbox></mat-checkbox>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <section style="margin-left: 40px; display:flex; align-items: center;" class="profile">
                                <img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;">
                                <p class="text" style="margin:0px 0px 0px 8px; line-height:1;"> Sophia <span style="font-size: 10px;"><br>sophia@gmail.com <span style="color: grey;">- (123)- 456789</span></span> </p> 
                            </section>
                        </section>
                        <section style="float: right; width: 5%; margin-top: 8px;">
                            <i class="bi bi-three-dots-vertical" style="margin: 0px;"></i>
                        </section>
                    </section>
                    <mat-divider></mat-divider>

                    <section class="content">
                        <section style="display: flex; float: left; align-items:center;overflow: hidden; width: 90%;">
                            <mat-checkbox></mat-checkbox>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <section style="margin-left: 40px; display:flex; align-items: center;" class="profile">
                                <img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;">
                                <p class="text" style="margin:0px 0px 0px 8px; line-height:1;"> Sophia <span style="font-size: 10px;"><br>sophia@gmail.com <span style="color: grey;">- (123)- 456789</span></span> </p> 
                            </section>
                        </section>
                        <section style="float: right; width: 5%; margin-top: 8px;">
                            <i class="bi bi-three-dots-vertical" style="margin: 0px;"></i>
                        </section>
                    </section>
                    <mat-divider></mat-divider>

                    <section class="content">
                        <section style="display: flex; float: left; align-items:center;overflow: hidden; width: 90%;">
                            <mat-checkbox></mat-checkbox>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <section style="margin-left: 40px; display:flex; align-items: center;" class="profile">
                                <img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;">
                                <p class="text" style="margin:0px 0px 0px 8px; line-height:1;"> Sophia <span style="font-size: 10px;"><br>sophia@gmail.com <span style="color: grey;">- (123)- 456789</span></span> </p> 
                            </section>
                        </section>
                        <section style="float: right; width: 5%; margin-top: 8px;">
                            <i class="bi bi-three-dots-vertical" style="margin: 0px;"></i>
                        </section>
                    </section>
                    <mat-divider></mat-divider>

                    <section class="content">
                        <section style="display: flex; float: left; align-items:center;overflow: hidden; width: 90%;">
                            <mat-checkbox></mat-checkbox>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <section style="margin-left: 40px; display:flex; align-items: center;" class="profile">
                                <img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;">
                                <p class="text" style="margin:0px 0px 0px 8px; line-height:1;"> Sophia <span style="font-size: 10px;"><br>sophia@gmail.com <span style="color: grey;">- (123)- 456789</span></span> </p> 
                            </section>
                        </section>
                        <section style="float: right; width: 5%; margin-top: 8px;">
                            <i class="bi bi-three-dots-vertical" style="margin: 0px;"></i>
                        </section>
                    </section>
                    <mat-divider></mat-divider>

                    <section class="content">
                        <section style="display: flex; float: left; align-items:center;overflow: hidden; width: 90%;">
                            <mat-checkbox></mat-checkbox>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <section style="margin-left: 40px; display:flex; align-items: center;" class="profile">
                                <img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;">
                                <p class="text" style="margin:0px 0px 0px 8px; line-height:1;"> Sophia <span style="font-size: 10px;"><br>sophia@gmail.com <span style="color: grey;">- (123)- 456789</span></span> </p> 
                            </section>
                        </section>
                        <section style="float: right; width: 5%; margin-top: 8px;">
                            <i class="bi bi-three-dots-vertical" style="margin: 0px;"></i>
                        </section>
                    </section>
                    <mat-divider></mat-divider>

                    <section class="content">
                        <section style="display: flex; float: left; align-items:center;overflow: hidden; width: 90%;">
                            <mat-checkbox></mat-checkbox>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <section style="margin-left: 40px; display:flex; align-items: center;" class="profile">
                                <img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;">
                                <p class="text" style="margin:0px 0px 0px 8px; line-height:1;"> Sophia <span style="font-size: 10px;"><br>sophia@gmail.com <span style="color: grey;">- (123)- 456789</span></span> </p> 
                            </section>
                        </section>
                        <section style="float: right; width: 5%; margin-top: 8px;">
                            <i class="bi bi-three-dots-vertical" style="margin: 0px;"></i>
                        </section>
                    </section>
                    <mat-divider></mat-divider>

                    <section class="content">
                        <section style="display: flex; float: left; align-items:center;overflow: hidden; width: 90%;">
                            <mat-checkbox></mat-checkbox>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <section style="margin-left: 40px; display:flex; align-items: center;" class="profile">
                                <img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;">
                                <p class="text" style="margin:0px 0px 0px 8px; line-height:1;"> Sophia <span style="font-size: 10px;"><br>sophia@gmail.com <span style="color: grey;">- (123)- 456789</span></span> </p> 
                            </section>
                        </section>
                        <section style="float: right; width: 5%; margin-top: 8px;">
                            <i class="bi bi-three-dots-vertical" style="margin: 0px;"></i>
                        </section>
                    </section>
                    <mat-divider></mat-divider>

                    <section class="content">
                        <section style="display: flex; float: left; align-items:center;overflow: hidden; width: 90%;">
                            <mat-checkbox></mat-checkbox>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <section style="margin-left: 40px; display:flex; align-items: center;" class="profile">
                                <img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;">
                                <p class="text" style="margin:0px 0px 0px 8px; line-height:1;"> Sophia <span style="font-size: 10px;"><br>sophia@gmail.com <span style="color: grey;">- (123)- 456789</span></span> </p> 
                            </section>
                        </section>
                        <section style="float: right; width: 5%; margin-top: 8px;">
                            <i class="bi bi-three-dots-vertical" style="margin: 0px;"></i>
                        </section>
                    </section>
                    <mat-divider></mat-divider>
                    
                </div>


                <div class="body-card right">

                    <section class="content">
                        <section style="display: flex; float: left; align-items:center;overflow: hidden; width: 90%;">
                            <mat-checkbox></mat-checkbox>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <section style="margin-left: 40px; display:flex; align-items: center;" class="profile">
                                <img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;">
                                <p class="text" style="margin:0px 0px 0px 8px; line-height:1;"> Sophia <span style="font-size: 10px;"><br>sophia@gmail.com <span style="color: grey;">- (123)- 456789</span></span> </p> 
                            </section>
                        </section>
                        <section style="float: right; width: 5%; margin-top: 8px;">
                            <i class="bi bi-three-dots-vertical" style="margin: 0px;"></i>
                        </section>
                    </section>
                    <mat-divider></mat-divider>

                    <section class="content">
                        <section style="display: flex; float: left; align-items:center;overflow: hidden; width: 90%;">
                            <mat-checkbox></mat-checkbox>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <section style="margin-left: 40px; display:flex; align-items: center;" class="profile">
                                <img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;">
                                <p class="text" style="margin:0px 0px 0px 8px; line-height:1;"> Sophia <span style="font-size: 10px;"><br>sophia@gmail.com <span style="color: grey;">- (123)- 456789</span></span> </p> 
                            </section>
                        </section>
                        <section style="float: right; width: 5%; margin-top: 8px;">
                            <i class="bi bi-three-dots-vertical" style="margin: 0px;"></i>
                        </section>
                    </section>
                    <mat-divider></mat-divider>

                    <section class="content">
                        <section style="display: flex; float: left; align-items:center;overflow: hidden; width: 90%;">
                            <mat-checkbox></mat-checkbox>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <section style="margin-left: 40px; display:flex; align-items: center;" class="profile">
                                <img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;">
                                <p class="text" style="margin:0px 0px 0px 8px; line-height:1;"> Sophia <span style="font-size: 10px;"><br>sophia@gmail.com <span style="color: grey;">- (123)- 456789</span></span> </p> 
                            </section>
                        </section>
                        <section style="float: right; width: 5%; margin-top: 8px;">
                            <i class="bi bi-three-dots-vertical" style="margin: 0px;"></i>
                        </section>
                    </section>
                    <mat-divider></mat-divider>

                    <section class="content">
                        <section style="display: flex; float: left; align-items:center;overflow: hidden; width: 90%;">
                            <mat-checkbox></mat-checkbox>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <section style="margin-left: 40px; display:flex; align-items: center;" class="profile">
                                <img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;">
                                <p class="text" style="margin:0px 0px 0px 8px; line-height:1;"> Sophia <span style="font-size: 10px;"><br>sophia@gmail.com <span style="color: grey;">- (123)- 456789</span></span> </p> 
                            </section>
                        </section>
                        <section style="float: right; width: 5%; margin-top: 8px;">
                            <i class="bi bi-three-dots-vertical" style="margin: 0px;"></i>
                        </section>
                    </section>
                    <mat-divider></mat-divider>

                    <section class="content">
                        <section style="display: flex; float: left; align-items:center;overflow: hidden; width: 90%;">
                            <mat-checkbox></mat-checkbox>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <section style="margin-left: 40px; display:flex; align-items: center;" class="profile">
                                <img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;">
                                <p class="text" style="margin:0px 0px 0px 8px; line-height:1;"> Sophia <span style="font-size: 10px;"><br>sophia@gmail.com <span style="color: grey;">- (123)- 456789</span></span> </p> 
                            </section>
                        </section>
                        <section style="float: right; width: 5%; margin-top: 8px;">
                            <i class="bi bi-three-dots-vertical" style="margin: 0px;"></i>
                        </section>
                    </section>
                    <mat-divider></mat-divider>

                    <section class="content">
                        <section style="display: flex; float: left; align-items:center;overflow: hidden; width: 90%;">
                            <mat-checkbox></mat-checkbox>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <section style="margin-left: 40px; display:flex; align-items: center;" class="profile">
                                <img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;">
                                <p class="text" style="margin:0px 0px 0px 8px; line-height:1;"> Sophia <span style="font-size: 10px;"><br>sophia@gmail.com <span style="color: grey;">- (123)- 456789</span></span> </p> 
                            </section>
                        </section>
                        <section style="float: right; width: 5%; margin-top: 8px;">
                            <i class="bi bi-three-dots-vertical" style="margin: 0px;"></i>
                        </section>
                    </section>
                    <mat-divider></mat-divider>

                    <section class="content">
                        <section style="display: flex; float: left; align-items:center;overflow: hidden; width: 90%;">
                            <mat-checkbox></mat-checkbox>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <section style="margin-left: 40px; display:flex; align-items: center;" class="profile">
                                <img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;">
                                <p class="text" style="margin:0px 0px 0px 8px; line-height:1;"> Sophia <span style="font-size: 10px;"><br>sophia@gmail.com <span style="color: grey;">- (123)- 456789</span></span> </p> 
                            </section>
                        </section>
                        <section style="float: right; width: 5%; margin-top: 8px;">
                            <i class="bi bi-three-dots-vertical" style="margin: 0px;"></i>
                        </section>
                    </section>
                    <mat-divider></mat-divider>

                    <section class="content">
                        <section style="display: flex; float: left; align-items:center;overflow: hidden; width: 90%;">
                            <mat-checkbox></mat-checkbox>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <section style="margin-left: 40px; display:flex; align-items: center;" class="profile">
                                <img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;">
                                <p class="text" style="margin:0px 0px 0px 8px; line-height:1;"> Sophia <span style="font-size: 10px;"><br>sophia@gmail.com <span style="color: grey;">- (123)- 456789</span></span> </p> 
                            </section>
                        </section>
                        <section style="float: right; width: 5%; margin-top: 8px;">
                            <i class="bi bi-three-dots-vertical" style="margin: 0px;"></i>
                        </section>
                    </section>
                    <mat-divider></mat-divider>

                    <section class="content">
                        <section style="display: flex; float: left; align-items:center;overflow: hidden; width: 90%;">
                            <mat-checkbox></mat-checkbox>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <section style="margin-left: 40px; display:flex; align-items: center;" class="profile">
                                <img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;">
                                <p class="text" style="margin:0px 0px 0px 8px; line-height:1;"> Sophia <span style="font-size: 10px;"><br>sophia@gmail.com <span style="color: grey;">- (123)- 456789</span></span> </p> 
                            </section>
                        </section>
                        <section style="float: right; width: 5%; margin-top: 8px;">
                            <i class="bi bi-three-dots-vertical" style="margin: 0px;"></i>
                        </section>
                    </section>
                    <mat-divider></mat-divider>

                    <section class="content">
                        <section style="display: flex; float: left; align-items:center;overflow: hidden; width: 90%;">
                            <mat-checkbox></mat-checkbox>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-circle-fill"></i>
                            <section style="margin-left: 40px; display:flex; align-items: center;" class="profile">
                                <img src="assets/images/profile.jpg" height="40px" width="40px" style="border-radius: 10px;">
                                <p class="text" style="margin:0px 0px 0px 8px; line-height:1;"> Sophia <span style="font-size: 10px;"><br>sophia@gmail.com <span style="color: grey;">- (123)- 456789</span></span> </p> 
                            </section>
                        </section>
                        <section style="float: right; width: 5%; margin-top: 8px;">
                            <i class="bi bi-three-dots-vertical" style="margin: 0px;"></i>
                        </section>
                    </section>
                    <mat-divider></mat-divider>
                    
                    
                </div>



            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
