@import '../compose/compose.component.scss';

.small-card{
    height: 150px;
    width: 130px;
    margin-right: 10px;
}
.files{
    display: flex;
}

@media screen and  (max-width: 380px){

    .files{
        display: block;
    }
    .small-card{
        margin-top: 10px;
    }
}