<div class="main-body">

    <div class="body">

            <div class="top">
                <div class="top-small">
                    <mat-card class="box" style="height: 100px;">
                        <section style="display: block;">
                            <section style="width: 50%; background-color: #0bb2d4; height: 100px; float: left;display: flex;">
                                <i class="bi bi-person" style="font-size: 80px; color: white;"></i>
                            </section>
                            <section style="width: 40%;float: right;padding: 20px 0px 20px 0px;">
                                <p class="text" style="font-size: 40px;"> 3002</p>
                                <p class="text" > Patient</p>

                            </section>
                        </section>
                    </mat-card>
                </div>
                <div class="top-small">
                    <mat-card class="box" style="height: 100px;">
                        <section style="display: block;">
                            <section style="width: 50%; background-color: #ff4c52; height: 100px; float: left;display: flex;">
                                <i class="bi bi-person" style="font-size: 80px; color: white;"></i>
                            </section>
                            <section style="width: 40%;float: right;padding: 20px 0px 20px 0px;">
                                <p class="text" style="font-size: 40px;"> 3002</p>
                                <p class="text" > Patient</p>

                            </section>
                        </section>
                    </mat-card>
                </div>
                <div class="top-small">
                    <mat-card class="box" style="height: 100px;">
                        <section style="display: block;">
                            <section style="width: 50%; background-color: #faa700; height: 100px; float: left;display: flex;">
                                <i class="bi bi-person" style="font-size: 80px; color: white;"></i>
                            </section>
                            <section style="width: 40%;float: right;padding: 20px 0px 20px 0px;">
                                <p class="text" style="font-size: 40px;"> 3002</p>
                                <p class="text" > Patient</p>

                            </section>
                        </section>
                    </mat-card>
                </div>
                <div class="top-small">
                    <mat-card class="box" style="height: 100px;">
                        <section style="display: block;">
                            <section style="width: 50%; background-color: #3e8ef7; height: 100px; float: left;display: flex;">
                                <i class="bi bi-person" style="font-size: 80px; color: white;"></i>
                            </section>
                            <section style="width: 40%;float: right;padding: 20px 0px 20px 0px;">
                                <p class="text" style="font-size: 40px;"> 3002</p>
                                <p class="text" > Patient</p>

                            </section>
                        </section>
                    </mat-card>
                </div>
      
            </div>

            <div class="top">
                <div class="middle-half">
                    <mat-card class="box" style="height: 450px;">
                        <p class="text" style="font-size: 16px;">Patients Overview</p>
                        <img src="assets/images/hospitalchart.png" alt="" height="400px" width="100%">
                    </mat-card>
                </div>
                <div class="middle-half">
                    <mat-card class="box" style="height: 450px;">
                        <p class="text" style="font-size: 16px;">Daily Patients</p>
                        <img src="assets/images/hospitalgraph.jpg" alt="" height="400px" width="100%">
                    </mat-card>
                </div>
            </div>
            
            <div class="top">
                <div class="middle-left">
                    <mat-card class="box" style="height: 600px;">
                        <p class="text" style="font-size: 16px;">Radiology List</p>
                        <table mat-table [dataSource]="dataSource" style="width: 100%;">

                            <!-- Position Column -->
                             <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                            </ng-container>
    
                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
    
                            <!-- Weight Column -->
                            <ng-container matColumnDef="weight">
                                <th mat-header-cell *matHeaderCellDef> Weight </th>
                                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                            </ng-container>
    
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="symbol">
                                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                                <td mat-cell *matCellDef="let element"> <p style="background-color: red; color: white; width: 20px; padding:5px 10px 5px 10px;">{{element.symbol}} </p></td>
                            </ng-container>
    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </mat-card>
                </div>
                <div class="top-small">
                    <mat-card class="box" style="height: 158px;">
                        <section style="display: block;">
                            <section style="float: left;">
                                <p class="text" style="font-size: 16px;">ANALYSIS</p>
                                <section style="display: flex; margin-top: 10px;">
                                    <section>
                                        
                                        <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                        <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                                
                                    </section>
                                    <mat-divider [vertical]="true" style="margin: 0px 10px 0px 10px;"></mat-divider>
                                    <section>
                                        <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                        <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                                        
                                    </section>
                                    <mat-divider [vertical]="true" style="margin: 0px 10px 0px 10px;"></mat-divider>
                                    <section>
                                        <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                        <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                                        
                                    </section>
                                </section>
                            
                        </section>
                        <p style="float: right;">%20</p>
                        </section>
                        <img src="assets/images/ecom.png" width="100%" height="50">
                    </mat-card>
                    <mat-card class="box" style="height: 158px;">
                        <section style="display: block;">
                            <section style="float: left;">
                                <p class="text" style="font-size: 16px;">ANALYSIS</p>
                                <section style="display: flex; margin-top: 10px;">
                                    <section>
                                        
                                        <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                        <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                                
                                    </section>
                                    <mat-divider [vertical]="true" style="margin: 0px 10px 0px 10px;"></mat-divider>
                                    <section>
                                        <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                        <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                                        
                                    </section>
                                    <mat-divider [vertical]="true" style="margin: 0px 10px 0px 10px;"></mat-divider>
                                    <section>
                                        <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                        <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                                        
                                    </section>
                                </section>
                            
                        </section>
                        <p style="float: right;">%20</p>
                        </section>
                        <img src="assets/images/ecom.png" width="100%" height="50">

                    </mat-card>
                    <mat-card class="box" style="height: 158px;">
                        <section style="display: block;">
                            <section style="float: left;">
                                <p class="text" style="font-size: 16px;">ANALYSIS</p>
                                <section style="display: flex; margin-top: 10px;">
                                    <section>
                                        
                                        <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                        <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                                
                                    </section>
                                    <mat-divider [vertical]="true" style="margin: 0px 10px 0px 10px;"></mat-divider>
                                    <section>
                                        <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                        <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                                        
                                    </section>
                                    <mat-divider [vertical]="true" style="margin: 0px 10px 0px 10px;"></mat-divider>
                                    <section>
                                        <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                        <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                                        
                                    </section>
                                </section>
                            
                        </section>
                        <p style="float: right;">%20</p>
                        </section>
                        <img src="assets/images/ecom.png" width="100%" height="50">

                    </mat-card>
                </div>
            </div>

            <div class="top">
                <div class="right-top">
                    <mat-card class="box" style="height: 440px;">
                        <section>
                            <p class="text" style="font-size: 16px;">Current Vitals</p>
                        </section>
                        <mat-divider></mat-divider>
                        <section style="display: block; margin-top: 20px;">
                            <p class="text" style="float: left;">Patient Name: Jonsahn</p>
                            <p class="text" style="float: right;">Patient ID: 69696969 </p>
                        </section>

                        <mat-divider style="margin-top: 40px;"></mat-divider>

                        <section style="display: flex; margin-top: 80px;">
                            <section style="display: flex;">
                                <i class="bi bi-compass-fill" style="font-size: 40px;margin-right: 10px;"></i>
                                <section>
                                    <p class="text"> Weight</p>
                                    <p class="text" style="font-size: 16px; font-weight: 600;"> 69 kg</p>
                                </section>
                            </section>
                            <mat-divider [vertical]="true"></mat-divider>
                            <section style="display: flex;">
                                <img src="assets/images/human.png" alt="">
                                <section>
                                    <p class="text"> Height </p>
                                    <p class="text" style="font-size: 16px; font-weight: 600;"> 6.1' </p>
                                </section>
                            </section>
                            <mat-divider [vertical]="true"></mat-divider>
                            <section style="display: flex;">
                                <i class="bi bi-graph-down" style="font-size: 40px;margin-right: 10px;"></i>
                                <section>
                                    <p class="text"> BMI </p>
                                    <p class="text" style="font-size: 16px; font-weight: 600;"> 30.34 </p>
                                </section>
                            </section>
                            
                        </section>
                        <mat-divider style="margin-top: 10px;"></mat-divider>

                    <section style="margin-top: 20px;">
                        <p class="text" style="color: red;"> Blood Pressure</p>

                        <section style="display: flex;">
                            <section style="display: flex;">
                                <p class="text" style="font-size: 30px; font-weight: 600; margin-right: 10px;"> 250</p>
                                
                                <section>
                                    <p class="text"> systolic</p>
                                    <p class="text"> mmHg</p>
                                </section>
                            </section>
                            <mat-divider [vertical]="true"></mat-divider>
                            <section style="display: flex;">
                                <p class="text" style="font-size: 30px; font-weight: 600; margin-right: 10px;"> 250</p>
                                
                                <section>
                                    <p class="text"> systolic</p>
                                    <p class="text"> mmHg</p>
                                </section>
                            </section>
                        </section>

                        <p class="text" style="margin-top: 20px;">Recorded on: 25/25/2022</p>
                    </section>

                    <section style="height: 50px; background-color: #ff4c52; width: 100%;display: flex; align-items: center;">
                        <p class="text" style="color: white;"> Smoking Status: current every day smoker</p>
                    </section>
                    </mat-card>
                </div>

                <div class="left-top">
                    <mat-card class="box" style="height: 440px;">
                        <p class="text" style="font-size: 16px;">New Patients List</p>
                        <table mat-table [dataSource]="dataSource" style="width: 100%;">

                            <!-- Position Column -->
                             <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                            </ng-container>
    
                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
    
                            <!-- Weight Column -->
                            <ng-container matColumnDef="weight">
                                <th mat-header-cell *matHeaderCellDef> Weight </th>
                                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                            </ng-container>
    
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="symbol">
                                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                                <td mat-cell *matCellDef="let element"> <p style="background-color: red; color: white; width: 20px; padding:5px 10px 5px 10px;">{{element.symbol}} </p></td>
                            </ng-container>
    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </mat-card>
                </div>
            </div>

            <div class="top">
                
                <div class="left-top">
                    <mat-card class="box" style="height: 440px;">
                        <p class="text" style="font-size: 16px;">Appointment</p>
                        <img src="assets/images/calender.jpg" width="100%" height="400">
                    </mat-card>
                </div>

                <div class="right-top">
                    <mat-card class="box" style="height: 440px;">
                        <p class="text" style="font-size: 16px;">Patients In</p>
                        <img src="assets/images/hospitallastgraph.jpg" width="100%" height="400px">
                    </mat-card>
                </div>
            </div>

    </div>



</div>