<div style="height: 100vh; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/login.jpg); background-size: cover;background-position: center;">
    <div class="form" >
        <p class="text" style="color: #ff9b00; font-size: 30px; font-weight: 600; margin-top: 50px;">GET STARTED WITH US</p>
        <p class="text">REGISTER NEW MEMBERSHIP</p>
        <mat-card style="width: 90%; height: 100%;background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(assets/images/loginback.jpg); background-size: cover;background-position: center;color: white;">
            <mat-form-field>
               <mat-label>Username</mat-label>
               <input matInput style="color: white;">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput style="color: white;">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput style="color: white;">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input matInput style="color: white;">
            </mat-form-field>

        <section style="display: block;">
            <mat-checkbox style="float: left;"> I agree to <span style="color: #ff9b00;">terms</span></mat-checkbox>
        </section>

        <button mat-button style="width: 100%;background-color: #3e8ef7; margin-top: 20px;"> Sign In</button>

        <section style="margin-top: 30px; display: flex; justify-content: center;flex-direction: column; align-items: center;">
            <p>- Register with -</p>
            <section style="display: flex;">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-envelope"></i>
                <i class="bi bi-instagram"></i>
            </section>
            <section style="margin-top: 30px;">
                <p>Alreadyhave an account?  <span style="color:#ff4c52">Sign In</span></p>
            </section>
        </section>
        </mat-card>

    </div>
</div>
