<div class="main-body">

    <div class="body">

        <div class="top">
            <div class="top-small">
                <mat-card class="box" style="height: 100px;">
                    <section style="display: flex;">
                        <img src="assets/images/anal1.png" width="50%" height="100">
                        <section>
                            <p class="text" style="font-size: 24px;">589</p>
                            <p class="text" style="font-size: 12px;"> New Users </p>
                        </section>
                    </section>
                </mat-card>
            </div>
            <div class="top-small">
                <mat-card class="box" style="height: 100px;">
                    <section style="display: flex;">
                    <img src="assets/images/anal2.png" width="50%" height="100">
                    <section>
                        <p class="text" style="font-size: 24px;">%90</p>
                        <p class="text" style="font-size: 12px;"> New Users </p>
                    </section>
                </section>
                </mat-card>
            </div>
            <div class="top-small">
                <mat-card class="box" style="height: 100px;">
                    <section style="display: flex;">
                        <img src="assets/images/anal3.png" width="50%" height="100">
                        <section>
                            <p class="text" style="font-size: 24px;">%90</p>
                            <p class="text" style="font-size: 12px;"> New Users </p>
                        </section>
                    </section>
                </mat-card>
            </div>
            <div class="top-small">
                <mat-card class="box" style="height: 100px;">
                    <section style="display: flex;">
                        <img src="assets/images/anal4.png" width="50%" height="100">
                        <section>
                            <p class="text" style="font-size: 24px;">$4,581</p>
                            <p class="text" style="font-size: 12px;"> New Users </p>
                        </section>
                    </section>
                </mat-card>
            </div>

        </div>

        <div class="top">
            <div class="right-top">
                <mat-card class="box" style="height: 170px; background-color: #3e8ef7;">
                    <section>
                        <p class="text" style="font-size: 24px; color: white;">85.4%</p>
                        <p class="text" style="font-size: 12px; color: white;"> Current Server Loading</p>
                        <p class="text" style="font-size: 16px; color: white;"> 85.6% Avg</p>

                    </section>
                </mat-card>
                <mat-card class="box" style="height: 210px; background-color: #ff4c52;">
                    <section>
                        <p class="text" style="font-size: 24px; color: white;">Bandwidth Usage</p>
                        <p class="text" style="font-size: 12px; color: white;"> July 2018</p>
                    </section>
                    <section style="display: flex; margin-top: 50px;"> 
                        <p class="text" style="font-size: 24px; color: white;"> 75 GB</p>
                        <img src="assets/images/analred.png" width="50%" height="100">
                    </section>

                </mat-card>
            </div>
            <div class="left-top">
                <mat-card class="box" style="height: 440px;">
                    <p class="text" style="font-size: 16px;">Sales Overview</p>
                    <mat-divider></mat-divider>
                        <canvas id="analChart" height="50" width="100"></canvas>
                </mat-card>
            </div>
        </div>

        <div class="top">
            <div class="middle-half">
                <mat-card class="box" style="height: 450px;">
                    <p class="text" style="font-size: 16px;">User Statistics</p>
                    <img src="assets/images/analgraph.png" width="100%" height="400px">
                </mat-card>
            </div>
            <div class="middle-half">
                <mat-card class="box" style="height: 450px;">
                    <p class="text" style="font-size: 16px;">Social Ad Campaigns</p>
                    <img src="assets/images/analSocial.png" width="100%" height="400px">
                </mat-card>
            </div>
        </div>

        <div class="bottom">
            <mat-card class="box" style="min-height: 550px;">
                <p class="text" style="font-size: 16px;">Weekly Status</p>
                <mat-divider></mat-divider>
                <section class="midbox">
                    <section class="midbox1">
                        <canvas id="chart1" height="50" width="100%"></canvas>
                    </section>
                    <section class="midbox2">
                        <canvas id="chart2" height="80" width="100%"></canvas>
                        
                    </section>
                </section>
                    <section style="display: flex; margin-top: 50px;">
                        <section>
                            <p class="text" style="font-size: 16px;"> Traffic </p>
                            <p class="text" style="font-size: 22px;"> 4854,22k</p>
                            <p class="text" style="font-size: 22px; color: green;"> +18%</p>
                        </section>
                        <mat-divider [vertical]="true" ></mat-divider>
                        <section>
                            <p class="text" style="font-size: 16px;"> Traffic </p>
                            <p class="text" style="font-size: 22px;"> 4854,22k</p>
                            <p class="text" style="font-size: 22px; color: green;"> +18%</p>
                        </section>
                        <mat-divider [vertical]="true"></mat-divider>
                        <section>
                            <p class="text" style="font-size: 16px;"> Traffic </p>
                            <p class="text" style="font-size: 22px;"> 4854,22k</p>
                            <p class="text" style="font-size: 22px; color: green;"> +18%</p>
                        </section><mat-divider [vertical]="true"></mat-divider>
                        <section>
                            <p class="text" style="font-size: 16px;"> Traffic </p>
                            <p class="text" style="font-size: 22px;"> 4854,22k</p>
                            <p class="text" style="font-size: 22px; color: green;"> +18%</p>
                        </section>
                    </section>
            </mat-card>
        </div>

        <div class="small"> 
            <section class="small-box box">
                <mat-card style="height: 100px; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/analback.jpg); background-size: cover;">
                    <section style="display: block;">
                        <section style="float: left;">
                            <p class="text" style="font-size: 50px; color: white;"> 255 </p>
                            <p class="text" style="font-size: 16px;color: white;"> New Orders </p>

                        </section>
                        <section style="float: right;">
                            <i class="bi bi-bag" style="font-size: 70px; color: white;"></i>
                            <p class="text" style="font-size: 16px;color: white;"> More Info </p>
                        </section>
                    </section>
                </mat-card>
            </section>
            <section class="small-box box">
                <mat-card style="height: 100px;background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/analback.jpg); background-size: cover;">
                    <section style="display: block;">
                        <section style="float: left;">
                            <p class="text" style="font-size: 50px; color: white;"> 67% </p>
                            <p class="text" style="font-size: 16px;color: white;"> Sales Rate </p>

                        </section>
                        <section style="float: right;">
                            <i class="bi bi-bar-chart-fill" style="font-size: 70px; color: white;"></i>
                            <p class="text" style="font-size: 16px;color: white;"> More Info </p>
                        </section>
                    </section>
                </mat-card>
            </section>
            <section class="small-box box">
                <mat-card style="height: 100px;background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/analback.jpg); background-size: cover;">
                    <section style="display: block;">
                        <section style="float: left;">
                            <p class="text" style="font-size: 50px; color: white;"> 78 </p>
                            <p class="text" style="font-size: 16px;color: white;"> Registrations </p>

                        </section>
                        <section style="float: right;">
                            <i class="bi bi-person-plus-fill" style="font-size: 70px; color: white;"></i>
                            <p class="text" style="font-size: 16px;color: white;"> More Info </p>
                        </section>
                    </section>
                </mat-card>
            </section>
        </div>

        <div class="bottom">
            <mat-card class="box" style="height: 460px;">
                <p class="text" style="font-size: 16px;">Last Month Income</p>
                <canvas id="bigLine" height="38" width="100%"></canvas>
            </mat-card>
        </div>


    </div>


</div>
