<div class="main-body">

    <div class="body">

        <div class="top">
            <div class="right-top">
                <mat-card class="box">
                    <section style="display: block;">
                        <section style="float: left;">
                            <p class="text" style="font-size: 16px;">ANALYSIS</p>
                            <section style="display: flex; margin-top: 30px;">
                                <section>
                                    
                                    <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                    <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                            
                                </section>
                                <mat-divider [vertical]="true" style="margin: 0px 10px 0px 10px;"></mat-divider>
                                <section>
                                    <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                    <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                                    
                                </section>
                                <mat-divider [vertical]="true" style="margin: 0px 10px 0px 10px;"></mat-divider>
                                <section>
                                    <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                    <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                                    
                                </section>
                            </section>
                        
                    </section>
                    <p style="float: right;">%20</p>
                    </section>
                    
                    <img src="assets/images/ecom.png" width="100%">
                </mat-card>


                <mat-card class="box" style="min-height: 440px;">
                    <section style="height: 160px;display: block; padding:10px;background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/ecom2.jpg);">
                        <p class="text" style="float: left; color: white;">Today</p>
                        <p class="text" style="float: right; color: white;">%20</p>
                    </section>
                    <section style="display: flex; margin-top: 20px;">
                        <section>
                            <p class="text" style="font-size: 22px;"> %60 </p>
                            <p class="text"> Direct Sales</p>

                        </section>
                        <section style="margin-top: 50px;">
                            <canvas id="smallDonut" height="100" width="100"></canvas>
                        </section>
                        <section>
                            <p class="text" style="font-size: 22px;"> %60 </p>
                            <p class="text"> Whole Sales</p>
                        </section>
                    </section>
                </mat-card>
            </div>

            <div class="left-top"> 
                <mat-card class="big-card box">
                    <p class="text" style="font-size: 22px;"> Revenue Statistics</p>
                    <mat-divider style="margin-top: 30px;"></mat-divider>

                    <section style="display: flex; margin-top: 50px;">
                        <section>
                            <p class="text" style="font-size: 16px;"> Traffic </p>
                            <p class="text" style="font-size: 22px;"> 4854,22k</p>
                            <p class="text" style="font-size: 22px; color: green;"> +18%</p>
                        </section>
                        <mat-divider [vertical]="true"></mat-divider>
                        <section>
                            <p class="text" style="font-size: 16px;"> Traffic </p>
                            <p class="text" style="font-size: 22px;"> 4854,22k</p>
                            <p class="text" style="font-size: 22px; color: green;"> +18%</p>
                        </section>
                        <mat-divider [vertical]="true"></mat-divider>
                        <section>
                            <p class="text" style="font-size: 16px;"> Traffic </p>
                            <p class="text" style="font-size: 22px;"> 4854,22k</p>
                            <p class="text" style="font-size: 22px; color: green;"> +18%</p>
                        </section>
                    </section>
                        <canvas id="chart3" height="72" width="100%"></canvas>
                    
                </mat-card>
            </div>
        </div>

        <div class="top-small"> 
            <section class="small-box box">
                <mat-card style="height: 100px;">
                    <section style="display: flex;">
                        <i class="bi bi-cash" style="font-size: 80px;"></i>
                        <section>
                            <p class="text" style="font-size: 28px;"> 56,225</p>
                            <p class="text" style="font-size: 20px;"> Order Received</p>

                        </section>
                    </section>
                </mat-card>
            </section>
            <section class="small-box box">
                <mat-card style="height: 100px;">
                    <section style="display: flex;">
                        <i class="bi bi-bar-chart-fill" style="font-size: 80px;"></i>
                        <section>
                            <p class="text" style="font-size: 28px;"> 56,225</p>
                            <p class="text" style="font-size: 20px;"> Order Received</p>

                        </section>
                    </section>
                </mat-card>
            </section>
            <section class="small-box box">
                <mat-card style="height: 100px;">
                    <section style="display: flex;">
                        <i class="bi bi-hand-thumbs-up-fill" style="font-size: 80px;"></i>
                        <section>
                            <p class="text" style="font-size: 28px;"> 56,225</p>
                            <p class="text" style="font-size: 20px;"> Order Received</p>

                        </section>
                    </section>
                </mat-card>
            </section>
        </div>

        <div class="top">
            <div class="left-top">
                <mat-card class="big-card box">
                    <p class="text" style="font-size: 22px;"> Top 10 Products Sale</p>
                    <mat-divider style="margin-top: 30px;"></mat-divider>

                    <canvas id="pieChart" height="200" style="margin-top: 50px;"></canvas>
                </mat-card>


                <mat-card class="box text" style="height: 700px; ">
                    <table mat-table [dataSource]="dataSource" style="width: 100%;">

                        <!-- Position Column -->
                         <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="weight">
                            <th mat-header-cell *matHeaderCellDef> Weight </th>
                            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="symbol">
                            <th mat-header-cell *matHeaderCellDef> Symbol </th>
                            <td mat-cell *matCellDef="let element"> <p style="background-color: red; color: white; width: 20px; padding:5px 10px 5px 10px;">{{element.symbol}} </p></td>
                        </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [length]="100"
                                    [pageSize]="10"
                                    [pageSizeOptions]="[5, 10, 25, 100]"
                                    aria-label="Select page">
                    </mat-paginator>

                </mat-card>
            </div>
            <div class="right-top">
                <mat-card class="box" style="height: 700px;">
                    <section style="height: 320px;display: block; padding:10px;background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/ecom2.jpg);">
                        <section style="display: block;">
                            <p class="text" style="float: left; font-weight: 600; font-size: 18px;color: rgb(214, 208, 208)">Data Stats</p>
                            <p class="text" style="float: right; color: rgb(214, 208, 208);font-weight: 600; font-size: 18px">Stats</p>
                        </section>

                        <section style="display: flex; margin-top:200px;">
                            <section style="border: solid 2px rgb(214, 208, 208); padding:20px 5px 20px 5px; border-radius: 5px;">
                                <p class="text" style=" font-weight: 500; font-size: 36px;color: rgb(214, 208, 208)">30%</p>
                                <p class="text" style="font-size: 14px;color: rgb(214, 208, 208)">DIRECT SALE</p>
                            </section>
                            <section style="border: solid 2px rgb(214, 208, 208); padding:20px 5px 20px 5px; border-radius: 5px;">
                                <p class="text" style=" font-weight: 500; font-size: 36px;color: rgb(214, 208, 208)">30%</p>
                                <p class="text" style="font-size: 14px;color: rgb(214, 208, 208)">DIRECT SALE</p>
                            </section>
                            <section style="border: solid 2px rgb(214, 208, 208); padding:20px 5px 20px 5px; border-radius: 5px;">
                                <p class="text" style=" font-weight: 500; font-size: 36px;color: rgb(214, 208, 208)">30%</p>
                                <p class="text" style="font-size: 14px;color: rgb(214, 208, 208)">DIRECT SALE</p>
                            </section>
                        </section>
                    </section>
                    
                    <section style="margin-top:20px; ">
                        <section style="display:flex; flex-direction:column; align-items:center;">
                            <p class="text" style="font-size: 22px;"> Monthy Income</p>
                        <section style="display: flex;">
                            <section>
                                
                                <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                        
                            </section>
                            <mat-divider [vertical]="true" style="margin: 0px 20px 0px 20px;"></mat-divider>
                            <section>
                                <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                                
                            </section>
                            <mat-divider [vertical]="true" style="margin: 0px 20px 0px 20px;"></mat-divider>
                            <section>
                                <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                                
                            </section>
                        </section>
                        </section>
                        <mat-divider style="margin-top: 10px;"></mat-divider>


                        <section style="display:flex; flex-direction:column; align-items:center; margin-top: 20px;">
                            <p class="text" style="font-size: 22px;"> Monthy Income</p>
                        <section style="display: flex;">
                            <section>
                                
                                <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                        
                            </section>
                            <mat-divider [vertical]="true" style="margin: 0px 20px 0px 20px;"></mat-divider>
                            <section>
                                <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                                
                            </section>
                            <mat-divider [vertical]="true" style="margin: 0px 20px 0px 20px;"></mat-divider>
                            <section>
                                <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                                
                            </section>
                        </section>
                        </section>
                        <mat-divider style="margin-top: 10px;"></mat-divider>


                        <section style="display:flex; flex-direction:column; align-items:center; margin-top: 20px;">
                            <p class="text" style="font-size: 22px;"> Monthy Income</p>
                        <section style="display: flex;">
                            <section>
                                
                                <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                        
                            </section>
                            <mat-divider [vertical]="true" style="margin: 0px 20px 0px 20px;"></mat-divider>
                            <section>
                                <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                                
                            </section>
                            <mat-divider [vertical]="true" style="margin: 0px 20px 0px 20px;"></mat-divider>
                            <section>
                                <p class="text" style="font-size: 12px; font-weight: 600;"> 8425</p>
                                <p class="text" style="font-size: 12px;"> Abu Dhabi </p>
                                
                            </section>
                        </section>
                        </section>
                        
                    </section>
                </mat-card>
                <mat-card class="box" style="height:400px">
                    <section style="display: flex; flex-direction: column; align-items: center; margin-top: 30px;">
                        <img mat-card-lg-image src="assets/images/kt.jpg" style="border-radius: 100px;">
                        <p class="text" style="font-size: 22px; margin-top: 10px;"> johen doe</p>
                        <p class="text"> dummy@gmail.com</p>
                        <p class="text" style="font-size: 18px; font-weight: 600;"> Dashboard UI UX <span style="background-color: #3e8ef7; color: white; border-radius: 10px;padding: 5px;">+10</span> </p>
                    </section>
                    <mat-divider style="margin-top: 20px;"></mat-divider>
                    <section style="display: flex; margin-top: 50px;">
                        <button mat-button style="width: 50%;">  <i class="bi bi-chat-left" style="margin-right:10px; font-size: 18px;"></i>Message</button>
                        <button mat-button style="width: 50%;">  <i class="bi bi-person-bounding-box"style="margin-right:10px;font-size18px"></i>Portfolio</button>
                    </section>

                </mat-card>


                <mat-card class="box" style="height: 150px;">
                    <section style="display: block;">
                        <p class="text" style="font-size: 16px; float: left;">REVENUE</p>
                        <button mat-button style="float: right; background-color: #0bb2d4; color: white;">View</button>
                    </section>

                    <section style="margin-top: 50px;">
                        <p class="text" style="font-size: 24px;"> $845, 1528</p>
                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                        <p class="text" style="font-size: 12px; margin-top: 10px;">%18 decrease from last month </p>

                    </section>

                </mat-card>
            </div>
        </div>


    </div>

</div>
