
<mat-nav-list>
    <mat-list-item class="text"> Dashboard </mat-list-item>
    <section class="nested-list">
        <a mat-list-item class="text" routerLink="/home"> Main Dashboard </a>
        <a mat-list-item class="text" routerLink="/dashboard"> e-Commerce Dashboard </a>
        <a mat-list-item class="text" routerLink="/analytics"> Analytics</a>
        <a mat-list-item class="text" routerLink="/hospital"> Hospital </a>
        <a mat-list-item class="text" routerLink="/login"> Login </a>
        <a mat-list-item class="text" routerLink="/signup"> Sign Up </a>
    </section>
    <mat-list-item class="text"> Malibox </mat-list-item>
    <section class="nested-list">
        <a mat-list-item class="text" routerLink="/inbox"> Inbox </a>
        <a mat-list-item class="text" routerLink="/compose"> Compose </a>
        <a mat-list-item class="text" routerLink="/read"> Read</a>
    </section>
    <mat-list-item class="text"> Contact </mat-list-item>
    <section class="nested-list">
        <a mat-list-item class="text" routerLink="/chat"> Chat app</a>
        <a mat-list-item class="text" routerLink="/employee"> Contact/Employee</a>
        <a mat-list-item class="text" routerLink="/employeeGrid"> Userlist Grid</a>
        <a mat-list-item class="text" routerLink="/employeeList"> Userlist</a>

    </section>

</mat-nav-list>