<div class="main-body">
    <div class="body">

        <div class="top">
            <section class="left-top">
                <mat-card class="big-card box">

                    <p class="text" style="font-size: 22px;"> Product Sales</p>
                    <p class="text"> Overview of Latest Month</p>
                    <canvas id="myChart" height="72px" width="100%">
                    </canvas>
               </mat-card>
                <section class="left-top-small box">
                    <section class="left-top-small-box box">
                        <mat-card class="left-small-card">
                            <p class="text" style="font-size: 24px;"> 1125 </p>
                            <p class="text"> User Online</p>
                            <p class="text" style="font-size: 16px;">845 avg</p>
                            <img src="assets/images/home1.png" height="80px" width="100%">
                        </mat-card>
                    </section>
                    <section class="left-top-small-box-right box">
                        <mat-card class="left-small-card">
                            <p class="text" style="font-size: 24px;"> Member Profit</p>
                            <section style="display: block; margin-top: 20px;">
                                <p class="text" style="font-size: 22px; float: left; color: #007bff;"> +$17,800</p>
                                <p class="text" style="font-size: 24px;float: right; color:  #17b3a3;"> +1.35% </p>
                            </section>
                            <img src="assets/images/home1.png" height="80px" width="100%">
                        </mat-card>
                    </section>
                </section>

            </section>
            <section class="right-top">
               <mat-card class="right-top-small box">
                    <p class="text" style="font-size: 24px;"> Daily Sales</p>
                    <section style="display: block; margin-top: 20px;">
                        <p class="text" style="font-size: 22px; float: left; color: #007bff;"> +$17,800</p>
                        <p class="text" style="font-size: 24px;float: right; color:  #17b3a3;"> +1.35% </p>
                    </section>
                    <img src="assets/images/home1.png" height="80px" width="100%">
               </mat-card>
               <mat-card class="right-top-small box">
                    <p class="text" style="font-size: 24px;"> 85.4% </p>
                    <p class="text"> Current Server Loading</p>
                    <p class="text" style="font-size: 16px;">24.6% avg</p>
                    <img src="assets/images/home1.png" height="80px" width="100%">
                </mat-card>
                <mat-card class="right-top-big box">
                    <p class="text" style="font-size: 22px;"> Top Advertisers</p>
                    <mat-divider style="margin-top:20px;"></mat-divider>
                    <canvas id="myDoughnut" height="75%" width="100%" style="margin-top: 50px;"></canvas>
                </mat-card>
            </section>
        </div>
        
        <div class="middle">
            <section class="left-middle-box">
                <mat-card class="middle-card box">
                    <section style="display: flex;">
                        <img mat-card-md-image src="assets/images/kt.jpg" style="border-radius: 100px;">
                       <section>
                        <p class="text" style="font-size: 24px;"> Johen Doe</p>
                        <p class="text" style="font-size: 16px;"> Web Designer</p>
                        <button mat-button class="text" style="background-color: #17b3a3; color: white;">+Follow</button>
                       </section>
                    </section>
                    <section style="display: flex; margin-top: 40px;">
                        <section>
                            <p class="text" style="font-size: 24px;"> 1254</p>
                            <p class="text" style="font-size: 16px;"> Photos</p>
                        </section>
                        <section>
                            <p class="text" style="font-size: 24px;"> 1254</p>
                            <p class="text" style="font-size: 16px;"> Photos</p>
                        </section>
                        <section>
                            <p class="text" style="font-size: 24px;"> 1254</p>
                            <p class="text" style="font-size: 16px;"> Photos</p>
                        </section>
                    </section>
                    <section style="padding: 20px;">
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt.</p>
                    </section>
                    <section style="display: flex; justify-content: center;">
                        <i class="bi bi-discord" style="font-size: 20px;margin-right: 5px;" ></i>
                        <i class="bi bi-facebook" style="font-size: 20px;margin-right: 5px;"></i>
                        <i class="bi bi-twitter" style="font-size: 20px"></i>

                    </section>
                </mat-card>
            </section>
            <section class="middle-middle-box">
                <mat-card class="middle-card box" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/weather.jpg);" >
                    <p class="text" style="color: white;font-size: 22px;" > <span style="font-size: 30px;">City,</span> Country</p>
                    <p class="text" style="color: white;font-size: 16px;" > <span style="font-size: 18px;">MONDAY,</span> May 11 2017</p>
                    <section style="display: flex; justify-content: center; margin-top: 100px;">
                        <p class="text" style="color: white;font-size: 64px;" > 29 C</p>
                    </section>
                    <section style="display: flex; margin-top: 100px;">
                        <section>
                            <p class="text" style="color:white;"> SUN</p>
                            <i class="bi bi-brightness-high" style="font-size: 20px; color: white; padding-left: 0px;"></i>
                            <p class="text" style="color:white;"> 24 C</p>
                        </section>
                        <section>
                            <p class="text" style="color:white;"> SUN</p>
                            <i class="bi bi-brightness-high" style="font-size: 20px; color: white; padding-left: 0px;"></i>
                            <p class="text" style="color:white;"> 24 C</p>
                        </section>
                        <section>
                            <p class="text" style="color:white;"> SUN</p>
                            <i class="bi bi-brightness-high" style="font-size: 20px; color: white; padding-left: 0px;"></i>
                            <p class="text" style="color:white;"> 24 C</p>
                        </section>
                        <section>
                            <p class="text" style="color:white;"> SUN</p>
                            <i class="bi bi-brightness-high" style="font-size: 20px; color: white; padding-left: 0px;"></i>
                            <p class="text" style="color:white;"> 24 C</p>
                        </section>
                        <section>
                            <p class="text" style="color:white;"> SUN</p>
                            <i class="bi bi-brightness-high" style="font-size: 20px; color: white; padding-left: 0px;"></i>
                            <p class="text" style="color:white;"> 24 C</p>
                        </section>
                        <section>
                            <p class="text" style="color:white;"> SUN</p>
                            <i class="bi bi-brightness-high" style="font-size: 20px; color: white; padding-left: 0px;"></i>
                            <p class="text" style="color:white;"> 24 C</p>
                        </section>
                    </section>
                </mat-card>
            </section>
            <section class="right-middle-box">
                <mat-card class="right-middle-top box">
                    <section style="display: block;">
                        <p class="text" style="font-size: 16px; float: left;">REVENUE</p>
                        <button mat-button style="float: right; background-color: #0bb2d4; color: white;">View</button>
                    </section>

                    <section style="margin-top: 50px;">
                        <p class="text" style="font-size: 24px;"> $845, 1528</p>
                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                        <p class="text" style="font-size: 12px; margin-top: 10px;">%18 decrease from last month </p>

                    </section>
                </mat-card>
                <mat-card class="right-middle-bottom box" style="background-color:#17b3a3; color: white;">
                    
                    <section style="display: flex;">
                        <img mat-card-avatar src="assets/images/kt.jpg" style="border-radius: 100px;">
                       <section>
                        <p class="text" style="font-size: 16px; color: white;"> Johen Doe</p>
                        <p class="text" style="font-size: 12px; color: white;"> Web Designer</p>
                       </section>
                       <section>
                           <p class="text" style="color: white;"> Today 5:05</p>
                       </section>
                    </section>
                    <section style="display: flex; padding: 30px;">
                        <mat-divider [vertical]="true" style="border-width: 3px; border-color: white; background-color: white;"></mat-divider>
                        <p class="text" style="font-size: 16px; font-style: italic; margin-left: 10px; color: white;">Phasellus aliquet enim vel augue porttitor posuere
                            tristique.</p>
                    </section>
                </mat-card>
            </section>
           
        </div>
        

        <div class="middle-bottom">
            <div class="middle-bottom-left">
                <mat-card class="big-card box">
                    <p class="text" style="font-size: 22px;"> Sales Analytics</p>
                    <mat-divider style="margin-top: 20px;"></mat-divider>

                    <section style="display: flex; margin-top: 50px;">
                        <section>
                            <p class="text" style="font-size: 16px;"> Traffic </p>
                            <p class="text" style="font-size: 22px;"> 4854,22k</p>
                            <p class="text" style="font-size: 22px; color: green;"> +18%</p>
                        </section>
                        <mat-divider [vertical]="true" style="border-width: 3px; border-color: #455a64; background-color: grey"></mat-divider>
                        <section>
                            <p class="text" style="font-size: 16px;"> Traffic </p>
                            <p class="text" style="font-size: 22px;"> 4854,22k</p>
                            <p class="text" style="font-size: 22px; color: green;"> +18%</p>
                        </section>
                        <mat-divider [vertical]="true" style="border-width: 3px; border-color:#455a64; background-color: grey"></mat-divider>
                        <section>
                            <p class="text" style="font-size: 16px;"> Traffic </p>
                            <p class="text" style="font-size: 22px;"> 4854,22k</p>
                            <p class="text" style="font-size: 22px; color: green;"> +18%</p>
                        </section>
                    </section>

                    <canvas id="myLine" height="68px" width="100%">
                    </canvas>
                </mat-card>
            </div>

            <div class="middle-bottom-right">
                <mat-card class="box" style="min-height:480px;">
                    <p class="text" style="font-size: 22px;"> Earnings</p>
                    <p class="text"> Total earnings of the month</p>
                    <p class="text" style="font-size: 32px; margin-top: 30px;"> $845, 1528</p>
                    <p class="text">17.10% ($954.23)</p>
                    <canvas id="smallBar" width="100%">

                    </canvas>

                    <p class="text"> Last Month Earnings</p>
                    <p class="text" style="font-size: 32px;"> $845, 1528</p>
                    <button mat-button class="text" style="background-color: #17b3a3; color: white;"> Check Whole Report</button>
                </mat-card>

                <mat-card class="box" style="height:80px;background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/back.jpg); background-position: center;"> 
                    <section style="display: flex; align-items: center; justify-content: space-between;">
                        <img mat-card-sm-image src="assets/images/kt.jpg">
                        <section>
                            <p class="text" style="color: white;">Monty Hulk</p>
                            <p class="text" style="color: white;">Project Mgr</p>

                        </section>
                    </section>
                </mat-card>
            </div>
        </div>

        <div class="bottom">  
            <mat-card style="min-height: 520px;">
                <p class="text" style="font-size: 22px;"> Yearly Sales Growth</p>
                <canvas id="bigGraph" width="100%"></canvas>
            </mat-card>
        </div>

    </div>
</div>
